#approval
  .title
    display flex
    line-height 40px
    background #0f88eb
    .tab-item
      flex 1
      text-align center
      color #fff
      font-size 12px
      &.router-link-active
        background #1582da
